#match-container {
    background: url(../img/m_bg.png) center center no-repeat;
}
.team-contaner {
    padding-top: 50px;
}
.team-contaner h3, .team-contaner h1, .team-contaner h2, {
    margin-top: 0;
    margin-bottom: 0;
}