#match-container {
    padding-top: 20px;
    background: url(../img/m_bg.png) center center no-repeat;
}
. team-container {
    padding-top: 50px;
}
.team-container h3, .team-container h1, .team-container h2 {
    margin-top: 0;
    margin-bottom: 0;
}

#brackets .success {
    font-weight: bold;
}

@media (max-width: 767px) {
    .team-container h3, .team-container h1, .team-container h2 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        text-overflow: ellipsis;
        overflow: hidden;
    }

}